<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% block header %}{% endblock %}
  </head>
  <body background ="{{ url_for('static', filename='assets/biz.png') }}" width="1020">

    <div class="container-fluid">
      <img src="{{ url_for('static', filename='assets/logo.png') }}" width="200" />
    {% block content %}Hewlett Packard Enterprise{% endblock %}

      <div class="col-md-offset-3 col-md-6">
        <hr />
        <footer>
          &copy; 2016 Hpe.com
        </footer>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% block end_body_js %}{% endblock %}

  </body>
</html>
