{% extends "base.html" %}

{% block title %}Registration{% endblock %}
<body background ="{{ url_for('static', filename='assets/biz.JPG') }}" width="1020">
{% block content %}

<div class="row" >

  <div class="col-md-offset-3 col-md-6" >

    <h3>Registration</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('.register')}}" role="form">

      {{ form.hidden_tag() }}

      {{ render_field(form.first_name, class='form-control') }}
      {{ render_field(form.last_name, class='form-control') }}
      {{ render_field(form.email, class='form-control') }}
      {{ render_field(form.phone, class='form-control') }}
      {{ render_field(form.company, class='form-control') }}
      {{ render_field(form.job, class='form-control') }}
      {{ render_field(form.event, class='form-control') }}
      {{ render_field(form.question, class='form-control') }}





      <button type="submit" class="btn btn-default">Register</button>

    </form>

  </div>

</div>
{% endblock %}
